<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="design.ws.com.Together_Helper">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android design.ws.com.Together_Helper.API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/together_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.Help_cancel_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".popup.Profile_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <!--
             The design.ws.com.Together_Helper.API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the design.ws.com.Together_Helper.API key is linked to the encryption key used to sign the APK.
             You need a different design.ws.com.Together_Helper.API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.LocationSearchMap"
            android:label="@string/title_activity_location_search_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.GPS_popup"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".LocationSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.RegisterHelp_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".popup.Helpee_detail_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.processTimerReceiver">
            <intent-filter>
                <action android:name="processTimerReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.Help_finish_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".recyclerview.Custom_RecyclerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.Explain_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".recyclerview.History_RecyclerView" />
        <activity
            android:name=".popup.Photo_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".popup.Question_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".popup.fcm_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".popup.Register_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".popup.ReserveState_popup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"></activity>
    </application>

</manifest>